*{
	padding:0;
	margin:0;
}

body {
	background-color:#8EBCC5; 
	
}
#wrapper {
	width:980px;
	min-height:500px; /* w채chst mit  */
	background-color:rgb(219,205,77,1);
	margin:30px auto 0 auto; /* wo soll mein gelbes feld stehen */
	border-radius: 120px 120px 120px 120px;  /* rundet die kanten ab   */
	transition: all,.5s; /* transition hier, dann 채ndert es sich beim weg bewegen der Maus langsamer s bestimmt die zeit*/
}
#wrapper:hover {
	background-color:rgb(219,205,77,.3);  /* wenn ich aufs Feld gehe ver채ndert sich die durchsichtigkeit  */
	
}

#header {
	height:100px;
	background:#DBCDFF url(../img/manray.jpg);
	border-radius: 120px 120px 0px 0px; /* o und o machen die unteren kanten vom header flach statt rund  */
}


/* bild einf체gen in css color von backround weg , dann transparent setzten , dann so: background:transparent url (img/May Ray.jpg */